body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
}

figcaption {
  font-size: 15px;
  text-align: center;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin: auto;
}

#details div{
  background-color: red;
  display: block;
  width: 25%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
